@import "./reset.less";
body {
	background-color: #f1f1f4;
}
page {
	color: #666;
	background-color: #f1f1f4;
	max-width: 1080px;
	margin: 0 auto;
	font-family: 'PingFang SC Medium', 'Helvetica Neue', Helvetica, '微软雅黑', STHeiTi, sans-serif;
}
.header {
	.box {
		width: 90%;
		margin: 0 auto;
		color: #fff;
		border-radius: 0 0 20px 20px;
		background-color: #4883f9;
		overflow: hidden;
		font-size: 32px;
		padding: 10px 0;
	}
	.nav {
		float: left;
		position: relative;
		z-index: 0;
		top: 10px;
		left: 20px;
	}
	.label,
	.icon {
		float: right;
		margin-right: 20px;
	}
	.label {
		text {
			position: relative;
			z-index: 0;
			top: 20px;
		}
	}
}
.mainWrap {
	.title {
		padding-top: 100px;
		text-align: center;
		color: #000;
	}
	.info {
		text-align: center;
		font-size: 32px;
		padding-top: 30px;
		color: #9d9d9d;
	}
	.bgWrap {
		position: relative;
		z-index: 0;
		padding-top: 120px;
		text-align: center;
		.voiceGif {
			position: absolute;
			z-index: 10;
			top: 430px;
			left: 470px;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			overflow: hidden;
			text-align: center;
			.imgGif {
				position: relative;
				z-index: 0;
				left: -75px;
				top: -30px;
			}
		}
	}
}

.tagcloudWrap {
	position: fixed;
	z-index: 10000000;
	top: 30%;
	bottom: 30%;
	left: 20%;
	right: 0;
	margin: 0 auto;
	.tagcloud { 
		position: relative;
		z-index: 0;
		span { 
			padding: 20px 40px;  
			color: #70a1dd; 
			border: 1px solid #c3dbfe; 
			border-radius: 20px; 
			background-color: #f2f4f8; 
			text-decoration: none; 
			white-space: nowrap;
			font-size: 24px;
			&:hover { 
				color: #3385cf; 
			} 
		}
	}
}
.footer {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 5%;
	right: 5%;
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	.listWrap {
		padding: 30px;
		.list {
			display: flex;
			padding: 10px;
			.item {
				flex: 1;
				.wrap {
					overflow: hidden;
					width: 90%;
					margin: 0 auto;
					padding: 10px;
					box-shadow: 0 0 5px rgba(218,228,247,.95);
					border-radius: 20px;
					.icon {
						float: left;
						padding-left: 20px;
						position: relative;
						z-index: 0;
						top: 10px;
					}
					.label {
						float: left;
						font-size: 32px;
						padding-left: 20px;
						text {
							position: relative;
							z-index: 0;
							top: 30px;
						}
					}
				}
			}
		}
	}
}
.onlineWrap {
    position: fixed;
    z-index: 10000000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .footer {
		position: relative;
	}
  }
